<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsEntrustMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsEntrust">
    <id column="entrust_id" jdbcType="BIGINT" property="entrustId" />
    <result column="stock_id" jdbcType="BIGINT" property="stockId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="entrust_status" jdbcType="BIT" property="entrustStatus" />
    <result column="entrust_date" jdbcType="BIGINT" property="entrustDate" />
    <result column="entrust_price" jdbcType="DECIMAL" property="entrustPrice" />
    <result column="traded_price" jdbcType="DECIMAL" property="tradedPrice" />
    <result column="cancel_amount" jdbcType="INTEGER" property="cancelAmount" />
    <result column="buy_sell" jdbcType="VARCHAR" property="buySell" />
    <result column="entrust_type" jdbcType="VARCHAR" property="entrustType" />
    <result column="ip_source" jdbcType="VARCHAR" property="ipSource" />
    <result column="mac_address" jdbcType="VARCHAR" property="macAddress" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
  </resultMap>
  <sql id="Base_Column_List">
    entrust_id, stock_id, company_id, entrust_status, entrust_date, entrust_price, traded_price, 
    cancel_amount, buy_sell, entrust_type, ip_source, mac_address, create_time, update_time, 
    operator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ams_entrust
    where entrust_id = #{entrustId,jdbcType=BIGINT}
  </select>

  <!--查询委托列表-->
  <select id="selectAmsEntrustWithDetail" resultType="java.util.Map" parameterType="java.lang.Object">
    SELECT ae.entrust_id, ae.stock_id, ae.company_id, ae.entrust_status, ae.entrust_date, ae.entrust_price,
    ae.traded_price,ae.cancel_amount, ae.buy_sell, ae.entrust_type, ae.ip_source, ae.mac_address, ae.create_time,
    ae.update_time,ae.operator_id,at.trade_account_id, at.company_id, at.trade_account_type, at.trade_account,
    at.trade_account_name,at.trade_account_password, at.broker_id, at.trade_account_status,at.create_time,
    at.update_time,at.operator_id,at.is_login,ak.knock_id, ak.stock_id, ak.company_id, ak.contract_id,
    ak.knock_price,ak.knock_volume,ak.entrust_id, ak.knock_date, ak.knock_amount, ak.buy_sell, ak.fee,
    ak.operator_id
    FROM ams_entrust ae join ams_trade_account at
    on at.company_id = ae.company_id join ams_knock ak on at.company_id = ak.company_id where 1 = 1
    <!--<if test="company_id != null">-->
      <!--and ae.company_id = #{company_id,jdbcType=BIGINT}-->
    <!--</if>-->
    <if test="limit != null">
      <if test="offset != null"> limit ${offset}, ${limit} </if>
      <if test="offset == null"> limit ${limit} </if>
    </if>
  </select>

  <!--查询数量-->
  <select id="selectAmsEntrustWithDetailCount" parameterType="java.util.Map" resultType="java.lang.Long">
    SELECT
    COUNT(1)
    FROM ams_entrust ab
    <if test="search!=null">
      <!--<where>-->
      <!--ab.broker_name LIKE CONCAT('%','${search}','%' )-->
      <!--</where>-->
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_entrust
    where entrust_id = #{entrustId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pbs.ams.web.model.AmsEntrust">
    insert into ams_entrust (entrust_id, stock_id, company_id, 
      entrust_status, entrust_date, entrust_price, 
      traded_price, cancel_amount, buy_sell, 
      entrust_type, ip_source, mac_address, 
      create_time, update_time, operator_id
      )
    values (#{entrustId,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{entrustStatus,jdbcType=BIT}, #{entrustDate,jdbcType=BIGINT}, #{entrustPrice,jdbcType=DECIMAL}, 
      #{tradedPrice,jdbcType=DECIMAL}, #{cancelAmount,jdbcType=INTEGER}, #{buySell,jdbcType=VARCHAR}, 
      #{entrustType,jdbcType=VARCHAR}, #{ipSource,jdbcType=VARCHAR}, #{macAddress,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsEntrust">
    insert into ams_entrust
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entrustId != null">
        entrust_id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="entrustStatus != null">
        entrust_status,
      </if>
      <if test="entrustDate != null">
        entrust_date,
      </if>
      <if test="entrustPrice != null">
        entrust_price,
      </if>
      <if test="tradedPrice != null">
        traded_price,
      </if>
      <if test="cancelAmount != null">
        cancel_amount,
      </if>
      <if test="buySell != null">
        buy_sell,
      </if>
      <if test="entrustType != null">
        entrust_type,
      </if>
      <if test="ipSource != null">
        ip_source,
      </if>
      <if test="macAddress != null">
        mac_address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entrustId != null">
        #{entrustId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="entrustStatus != null">
        #{entrustStatus,jdbcType=BIT},
      </if>
      <if test="entrustDate != null">
        #{entrustDate,jdbcType=BIGINT},
      </if>
      <if test="entrustPrice != null">
        #{entrustPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradedPrice != null">
        #{tradedPrice,jdbcType=DECIMAL},
      </if>
      <if test="cancelAmount != null">
        #{cancelAmount,jdbcType=INTEGER},
      </if>
      <if test="buySell != null">
        #{buySell,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        #{entrustType,jdbcType=VARCHAR},
      </if>
      <if test="ipSource != null">
        #{ipSource,jdbcType=VARCHAR},
      </if>
      <if test="macAddress != null">
        #{macAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbs.ams.web.model.AmsEntrust">
    update ams_entrust
    <set>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="entrustStatus != null">
        entrust_status = #{entrustStatus,jdbcType=BIT},
      </if>
      <if test="entrustDate != null">
        entrust_date = #{entrustDate,jdbcType=BIGINT},
      </if>
      <if test="entrustPrice != null">
        entrust_price = #{entrustPrice,jdbcType=DECIMAL},
      </if>
      <if test="tradedPrice != null">
        traded_price = #{tradedPrice,jdbcType=DECIMAL},
      </if>
      <if test="cancelAmount != null">
        cancel_amount = #{cancelAmount,jdbcType=INTEGER},
      </if>
      <if test="buySell != null">
        buy_sell = #{buySell,jdbcType=VARCHAR},
      </if>
      <if test="entrustType != null">
        entrust_type = #{entrustType,jdbcType=VARCHAR},
      </if>
      <if test="ipSource != null">
        ip_source = #{ipSource,jdbcType=VARCHAR},
      </if>
      <if test="macAddress != null">
        mac_address = #{macAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
    </set>
    where entrust_id = #{entrustId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbs.ams.web.model.AmsEntrust">
    update ams_entrust
    set stock_id = #{stockId,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      entrust_status = #{entrustStatus,jdbcType=BIT},
      entrust_date = #{entrustDate,jdbcType=BIGINT},
      entrust_price = #{entrustPrice,jdbcType=DECIMAL},
      traded_price = #{tradedPrice,jdbcType=DECIMAL},
      cancel_amount = #{cancelAmount,jdbcType=INTEGER},
      buy_sell = #{buySell,jdbcType=VARCHAR},
      entrust_type = #{entrustType,jdbcType=VARCHAR},
      ip_source = #{ipSource,jdbcType=VARCHAR},
      mac_address = #{macAddress,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=BIGINT}
    where entrust_id = #{entrustId,jdbcType=BIGINT}
  </update>
  <insert id="insertIntoAmsEntrustSnaps">
    insert into ams_entrust_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),tb.* from ams_entrust as tb where entrust_id= #{entrust_id}
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>