<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsProductAccountMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsProductAccount">
    <id column="product_trade_account_id" jdbcType="BIGINT" property="productTradeAccountId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="trade_account_id" jdbcType="BIGINT" property="tradeAccountId" />
  </resultMap>
  <sql id="Base_Column_List">
    product_trade_account_id, product_id, trade_account_id
  </sql>
  <select id="getProductIdByAccountId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ams_product_account
    where trade_account_id = #{tradeAccountId,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_product_account
    where product_trade_account_id = #{productTradeAccountId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_product_account
    where product_trade_account_id = #{productTradeAccountId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pbs.ams.web.model.AmsProductAccount">
    insert into ams_product_account (product_trade_account_id, product_id, trade_account_id
      )
    values (#{productTradeAccountId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{tradeAccountId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsProductAccount">
    insert into ams_product_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productTradeAccountId != null">
        product_trade_account_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="tradeAccountId != null">
        trade_account_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productTradeAccountId != null">
        #{productTradeAccountId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="tradeAccountId != null">
        #{tradeAccountId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbs.ams.web.model.AmsProductAccount">
    update ams_product_account
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="tradeAccountId != null">
        trade_account_id = #{tradeAccountId,jdbcType=BIGINT},
      </if>
    </set>
    where product_trade_account_id = #{productTradeAccountId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbs.ams.web.model.AmsProductAccount">
    update ams_product_account
    set product_id = #{productId,jdbcType=BIGINT},
      trade_account_id = #{tradeAccountId,jdbcType=BIGINT}
    where product_trade_account_id = #{productTradeAccountId,jdbcType=BIGINT}
  </update>
  <insert id="insertIntoAmsProductAccountSnaps">
    insert into ams_product_account_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),tb.* from ams_product_account as tb where product_trade_account_id= #{product_trade_account_id}
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>