<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsPlatformMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsPlatform">
    <id column="platform_id" jdbcType="BIGINT" property="platformId" />
    <result column="platform_logo" jdbcType="VARCHAR" property="platformLogo" />
    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
    <result column="platform_abbr_name" jdbcType="VARCHAR" property="platformAbbrName" />
    <result column="platform_type" jdbcType="INTEGER" property="platformType" />
    <result column="creditable" jdbcType="BIT" property="creditable" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
  </resultMap>
  <sql id="Base_Column_List">
    platform_id, platform_logo, platform_name, platform_abbr_name, platform_type, creditable, 
    create_time, update_time, operator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_platform
    where platform_id = #{platformId,jdbcType=BIGINT}
  </select>

  <select id="selectPlatformWithDetail" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT platform_id,platform_logo,platform_name,platform_abbr_name,platform_type,creditable,create_time,update_time,operator_id FROM ams_platform
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_platform
    where platform_id = #{platformId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pbs.ams.web.model.AmsPlatform">
    insert into ams_platform (platform_id, platform_logo, platform_name, 
      platform_abbr_name, platform_type, creditable, 
      create_time, update_time, operator_id
      )
    values (#{platformId,jdbcType=BIGINT}, #{platformLogo,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
      #{platformAbbrName,jdbcType=VARCHAR}, #{platformType,jdbcType=INTEGER}, #{creditable,jdbcType=BIT}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsPlatform">
    insert into ams_platform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="platformLogo != null">
        platform_logo,
      </if>
      <if test="platformName != null">
        platform_name,
      </if>
      <if test="platformAbbrName != null">
        platform_abbr_name,
      </if>
      <if test="platformType != null">
        platform_type,
      </if>
      <if test="creditable != null">
        creditable,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="platformId != null">
        #{platformId,jdbcType=BIGINT},
      </if>
      <if test="platformLogo != null">
        #{platformLogo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformAbbrName != null">
        #{platformAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        #{platformType,jdbcType=INTEGER},
      </if>
      <if test="creditable != null">
        #{creditable,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbs.ams.web.model.AmsPlatform">
    update ams_platform
    <set>
      <if test="platformLogo != null">
        platform_logo = #{platformLogo,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null">
        platform_name = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="platformAbbrName != null">
        platform_abbr_name = #{platformAbbrName,jdbcType=VARCHAR},
      </if>
      <if test="platformType != null">
        platform_type = #{platformType,jdbcType=INTEGER},
      </if>
      <if test="creditable != null">
        creditable = #{creditable,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
    </set>
    where platform_id = #{platformId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbs.ams.web.model.AmsPlatform">
    update ams_platform
    set platform_logo = #{platformLogo,jdbcType=VARCHAR},
      platform_name = #{platformName,jdbcType=VARCHAR},
      platform_abbr_name = #{platformAbbrName,jdbcType=VARCHAR},
      platform_type = #{platformType,jdbcType=INTEGER},
      creditable = #{creditable,jdbcType=BIT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=BIGINT}
    where platform_id = #{platformId,jdbcType=BIGINT}
  </update>
  <insert id="insertIntoSnaps">
    insert into ams_platform_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),tb.* from ams_platform as tb where platform_id= #{platform_id}
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>