<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsProductMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsProduct">
    <id column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="BIT" property="productType" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_manager" jdbcType="VARCHAR" property="productManager" />
    <result column="product_supervisor" jdbcType="VARCHAR" property="productSupervisor" />
    <result column="product_status" jdbcType="VARCHAR" property="productStatus" />
    <result column="product_share_source" jdbcType="BIT" property="productShareSource" />
    <result column="start_date" jdbcType="BIGINT" property="startDate" />
    <result column="end_date" jdbcType="BIGINT" property="endDate" />
    <result column="product_shares" jdbcType="DECIMAL" property="productShares" />
    <result column="product_desc" jdbcType="VARCHAR" property="productDesc" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="o32_id" jdbcType="BIGINT" property="o32Id" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, company_id, product_name, product_type, product_code, product_manager, product_supervisor,
    product_status, product_share_source, start_date, end_date, product_shares, product_desc, 
    create_time, update_time, operator_id ,o32_id
  </sql>

  <!--This method by id delete data  通过id删除数据-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>

  <!--This method by id query data  通过id查询数据-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>

  <!--This method is used to get Net PageList data.查询产品净值信息列表-->
  <select id="selectProductWithDetail" parameterType="java.lang.Object" resultType="java.util.LinkedHashMap">
    SELECT ap.product_id,ap.product_name, ap.product_type, ap.product_code, ap.product_manager,
    ap.product_supervisor,ap.product_status, ap.create_time,ap.update_time,ap.product_share_source,ap.start_date,
    ap.end_date,ap.product_shares,ap.product_desc,ap.o32_id,ap.operator_id,uu.realname,apd.product_net_value,
    apd.net_asset_value, apd.stock_total_assets,apd.security_total_value,apd.stock_total_value,
    apd.short_total_value
    FROM
    ams_product ap
    JOIN ams_product_detail apd ON ap.product_id = apd.product_id
    JOIN upms_user uu ON ap.operator_id = uu.user_id
    <where>
      <if test="search != null">
        ap.product_name LIKE %#{search}%
      </if>
      <if test="companyIds != null">
        and ap.company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    ORDER BY
    ap.product_id ASC
    <if test="limit != null">
      <if test="offset != null"> limit ${offset}, ${limit} </if>
      <if test="offset == null"> limit ${limit} </if>
    </if>
  </select>

  <!--This method is used to get Net PageListTotalSize  查询产品净值信息列表总数  -->
  <select id="selectProductWithDetailCount" parameterType="java.lang.Object" resultType="java.lang.Integer">
    SELECT
    COUNT(1)
    FROM
    ams_product ap
    LEFT JOIN ams_product_detail apd ON ap.product_id = apd.product_id
    <where>
      <if test="search != null">
        ap.product_name LIKE %#{search}%
      </if>
      <if test="companyIds != null">
        and ap.company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>
  <!--查询产品基本信息列表   basic-->
  <select id="selectProduct" parameterType="java.lang.Object" resultType="java.util.LinkedHashMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    ams_product
    <where>
      <if test="search != null">
        product_name  LIKE CONCAT('%','${search}','%' )
      </if>
      <if test="companyIds != null">
        and company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
    ORDER BY
    product_id ASC
    <if test="limit != null">
      <if test="offset != null"> limit ${offset}, ${limit} </if>
      <if test="offset == null"> limit ${limit} </if>
    </if>
  </select>

  <!--查询产品基本信息总数  basic-->
  <select id="selectProductCount" parameterType="java.lang.Object" resultType="java.lang.Integer">
    SELECT
    COUNT(1)
    FROM
    ams_product
    <where>
      <if test="search != null">
        product_name LIKE CONCAT('%','${search}','%' )
      </if>
      <if test="companyIds != null">
        and company_id in
        <foreach collection="companyIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
    </where>
  </select>

  <!--insert a product   插入一条产品-->
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsProduct" useGeneratedKeys="true" keyProperty="productId">
    insert into ams_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productManager != null">
        product_manager,
      </if>
      <if test="productSupervisor != null">
        product_supervisor,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="productShareSource != null">
        product_share_source,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="productShares != null">
        product_shares,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      create_time,
      update_time,
      <if test="operatorId != null">
        operator_id,
      </if>
      <if test="o32Id != null">
        o32_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=BIT},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productManager != null">
        #{productManager,jdbcType=VARCHAR},
      </if>
      <if test="productSupervisor != null">
        #{productSupervisor,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=BIT},
      </if>
      <if test="productShareSource != null">
        #{productShareSource,jdbcType=BIT},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=BIGINT},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=BIGINT},
      </if>
      <if test="productShares != null">
        #{productShares,jdbcType=DECIMAL},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),
      CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
      <if test="o32Id != null">
        #{o32Id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

<!--Modify Existing Product Configurations   修改现有产品-->
  <update id="updateAmsProduct" parameterType="com.pbs.ams.web.model.AmsProduct">
    update ams_product
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=BIT},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productManager != null">
        product_manager = #{productManager,jdbcType=VARCHAR},
      </if>
      <if test="productSupervisor != null">
        product_supervisor = #{productSupervisor,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=BIT},
      </if>
      <if test="productShareSource != null">
        product_share_source = #{productShareSource,jdbcType=BIT},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=BIGINT},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=BIGINT},
      </if>
      <if test="productShares != null">
        product_shares = #{productShares,jdbcType=DECIMAL},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime == null">
        update_time = CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),
      </if>
      <if test="o32Id != null">
        o32_id = #{o32Id,jdbcType=BIGINT},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>

  <!--插入快照-->
  <insert id="insertIntoAmsProductSnaps">
    insert into ams_product_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000
     AS UNSIGNED),tb.* from ams_product as tb where product_id= #{productId}
  </insert>

</mapper>