<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsProductMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsProduct">
    <id column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="BIT" property="productType" />
    <result column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="product_manager" jdbcType="VARCHAR" property="productManager" />
    <result column="product_status" jdbcType="BIT" property="productStatus" />
    <result column="right_id" jdbcType="BIGINT" property="rightId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, company_id, product_name, product_type, product_code, product_manager, 
    product_status, right_id, create_time, update_time, operator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_product
    where product_id = #{productId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pbs.ams.web.model.AmsProduct">
    insert into ams_product (product_id, company_id, product_name, 
      product_type, product_code, product_manager, 
      product_status, right_id, create_time, 
      update_time, operator_id)
    values (#{productId,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, 
      #{productType,jdbcType=BIT}, #{productCode,jdbcType=VARCHAR}, #{productManager,jdbcType=VARCHAR}, 
      #{productStatus,jdbcType=BIT}, #{rightId,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsProduct">
    insert into ams_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productCode != null">
        product_code,
      </if>
      <if test="productManager != null">
        product_manager,
      </if>
      <if test="productStatus != null">
        product_status,
      </if>
      <if test="rightId != null">
        right_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=BIT},
      </if>
      <if test="productCode != null">
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productManager != null">
        #{productManager,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        #{productStatus,jdbcType=BIT},
      </if>
      <if test="rightId != null">
        #{rightId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbs.ams.web.model.AmsProduct">
    update ams_product
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=BIT},
      </if>
      <if test="productCode != null">
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productManager != null">
        product_manager = #{productManager,jdbcType=VARCHAR},
      </if>
      <if test="productStatus != null">
        product_status = #{productStatus,jdbcType=BIT},
      </if>
      <if test="rightId != null">
        right_id = #{rightId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbs.ams.web.model.AmsProduct">
    update ams_product
    set company_id = #{companyId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=BIT},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_manager = #{productManager,jdbcType=VARCHAR},
      product_status = #{productStatus,jdbcType=BIT},
      right_id = #{rightId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=BIGINT}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
  <insert id="insertIntoAmsProductSnaps">
    insert into ams_product_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),'%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),tb.* from ams_product as tb where product_id= #{product_id}
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>