<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbs.ams.web.mappers.AmsTradeFeeTemplateSnapsMapper">
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.AmsTradeFeeTemplateSnaps">
    <id column="snaps_time" jdbcType="BIGINT" property="snapsTime" />
    <result column="fee_templatete_id" jdbcType="BIGINT" property="feeTemplateteId" />
    <result column="stock_category_id" jdbcType="BIGINT" property="stockCategoryId" />
    <result column="commission_rate" jdbcType="VARCHAR" property="commissionRate" />
    <result column="minimum_commission" jdbcType="VARCHAR" property="minimumCommission" />
    <result column="transfer_fee_rate" jdbcType="VARCHAR" property="transferFeeRate" />
    <result column="minimum_charge_count" jdbcType="VARCHAR" property="minimumChargeCount" />
    <result column="buy_stamp_duty_rate" jdbcType="VARCHAR" property="buyStampDutyRate" />
    <result column="sell_stamp_duty_rate" jdbcType="VARCHAR" property="sellStampDutyRate" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="operator_id" jdbcType="BIGINT" property="operatorId" />
  </resultMap>
  <sql id="Base_Column_List">
    snaps_time, fee_templatete_id, stock_category_id, commission_rate, minimum_commission, 
    transfer_fee_rate, minimum_charge_count, buy_stamp_duty_rate, sell_stamp_duty_rate, 
    create_time, update_time, operator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ams_trade_fee_template_snaps
    where snaps_time = #{snapsTime,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ams_trade_fee_template_snaps
    where snaps_time = #{snapsTime,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.pbs.ams.web.model.AmsTradeFeeTemplateSnaps">
    insert into ams_trade_fee_template_snaps (snaps_time, fee_templatete_id, stock_category_id, 
      commission_rate, minimum_commission, transfer_fee_rate, 
      minimum_charge_count, buy_stamp_duty_rate, sell_stamp_duty_rate, 
      create_time, update_time, operator_id
      )
    values (#{snapsTime,jdbcType=BIGINT}, #{feeTemplateteId,jdbcType=BIGINT}, #{stockCategoryId,jdbcType=BIGINT}, 
      #{commissionRate,jdbcType=VARCHAR}, #{minimumCommission,jdbcType=VARCHAR}, #{transferFeeRate,jdbcType=VARCHAR}, 
      #{minimumChargeCount,jdbcType=VARCHAR}, #{buyStampDutyRate,jdbcType=VARCHAR}, #{sellStampDutyRate,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{operatorId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.AmsTradeFeeTemplateSnaps">
    insert into ams_trade_fee_template_snaps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="snapsTime != null">
        snaps_time,
      </if>
      <if test="feeTemplateteId != null">
        fee_templatete_id,
      </if>
      <if test="stockCategoryId != null">
        stock_category_id,
      </if>
      <if test="commissionRate != null">
        commission_rate,
      </if>
      <if test="minimumCommission != null">
        minimum_commission,
      </if>
      <if test="transferFeeRate != null">
        transfer_fee_rate,
      </if>
      <if test="minimumChargeCount != null">
        minimum_charge_count,
      </if>
      <if test="buyStampDutyRate != null">
        buy_stamp_duty_rate,
      </if>
      <if test="sellStampDutyRate != null">
        sell_stamp_duty_rate,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="operatorId != null">
        operator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="snapsTime != null">
        #{snapsTime,jdbcType=BIGINT},
      </if>
      <if test="feeTemplateteId != null">
        #{feeTemplateteId,jdbcType=BIGINT},
      </if>
      <if test="stockCategoryId != null">
        #{stockCategoryId,jdbcType=BIGINT},
      </if>
      <if test="commissionRate != null">
        #{commissionRate,jdbcType=VARCHAR},
      </if>
      <if test="minimumCommission != null">
        #{minimumCommission,jdbcType=VARCHAR},
      </if>
      <if test="transferFeeRate != null">
        #{transferFeeRate,jdbcType=VARCHAR},
      </if>
      <if test="minimumChargeCount != null">
        #{minimumChargeCount,jdbcType=VARCHAR},
      </if>
      <if test="buyStampDutyRate != null">
        #{buyStampDutyRate,jdbcType=VARCHAR},
      </if>
      <if test="sellStampDutyRate != null">
        #{sellStampDutyRate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        #{operatorId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbs.ams.web.model.AmsTradeFeeTemplateSnaps">
    update ams_trade_fee_template_snaps
    <set>
      <if test="feeTemplateteId != null">
        fee_templatete_id = #{feeTemplateteId,jdbcType=BIGINT},
      </if>
      <if test="stockCategoryId != null">
        stock_category_id = #{stockCategoryId,jdbcType=BIGINT},
      </if>
      <if test="commissionRate != null">
        commission_rate = #{commissionRate,jdbcType=VARCHAR},
      </if>
      <if test="minimumCommission != null">
        minimum_commission = #{minimumCommission,jdbcType=VARCHAR},
      </if>
      <if test="transferFeeRate != null">
        transfer_fee_rate = #{transferFeeRate,jdbcType=VARCHAR},
      </if>
      <if test="minimumChargeCount != null">
        minimum_charge_count = #{minimumChargeCount,jdbcType=VARCHAR},
      </if>
      <if test="buyStampDutyRate != null">
        buy_stamp_duty_rate = #{buyStampDutyRate,jdbcType=VARCHAR},
      </if>
      <if test="sellStampDutyRate != null">
        sell_stamp_duty_rate = #{sellStampDutyRate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="operatorId != null">
        operator_id = #{operatorId,jdbcType=BIGINT},
      </if>
    </set>
    where snaps_time = #{snapsTime,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbs.ams.web.model.AmsTradeFeeTemplateSnaps">
    update ams_trade_fee_template_snaps
    set fee_templatete_id = #{feeTemplateteId,jdbcType=BIGINT},
      stock_category_id = #{stockCategoryId,jdbcType=BIGINT},
      commission_rate = #{commissionRate,jdbcType=VARCHAR},
      minimum_commission = #{minimumCommission,jdbcType=VARCHAR},
      transfer_fee_rate = #{transferFeeRate,jdbcType=VARCHAR},
      minimum_charge_count = #{minimumChargeCount,jdbcType=VARCHAR},
      buy_stamp_duty_rate = #{buyStampDutyRate,jdbcType=VARCHAR},
      sell_stamp_duty_rate = #{sellStampDutyRate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      operator_id = #{operatorId,jdbcType=BIGINT}
    where snaps_time = #{snapsTime,jdbcType=BIGINT}
  </update>

  <!--向快照表中添加数据-->
  <insert id="insertIntoAmsTradeFeeTemplateSnaps">
    insert into ams_trade_fee_template_snaps SELECT CAST(DATE_FORMAT(CURRENT_TIMESTAMP(3),
    '%Y%m%d%H%i%S%f')/1000 AS UNSIGNED),tb.* from ams_trade_fee_template as tb
    where snaps_time= #{snaps_time}
  </insert>
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
</mapper>