<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pbs.ams.web.mappers.RptStoStyFactorsDealInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pbs.ams.web.model.RptStoStyFactorsDealInfo" >
    <result column="DATA_DT" property="dataDt" jdbcType="DATE" />
    <result column="WIND_CODE" property="windCode" jdbcType="VARCHAR" />
    <result column="WIND_CODE_NAME" property="windCodeName" jdbcType="VARCHAR" />
    <result column="LNCAP_D" property="lncapD" jdbcType="DECIMAL" />
    <result column="NLSIZE_D" property="nlsizeD" jdbcType="DECIMAL" />
    <result column="BTOP_D" property="btopD" jdbcType="DECIMAL" />
    <result column="STOM_D" property="stomD" jdbcType="DECIMAL" />
    <result column="STOQ_D" property="stoqD" jdbcType="DECIMAL" />
    <result column="STOA_D" property="stoaD" jdbcType="DECIMAL" />
    <result column="BETA_D" property="betaD" jdbcType="DECIMAL" />
    <result column="RSTR_D" property="rstrD" jdbcType="DECIMAL" />
    <result column="DASTD_D" property="dastdD" jdbcType="DECIMAL" />
    <result column="HSIGMA_D" property="hsigmaD" jdbcType="DECIMAL" />
    <result column="CMRA_D" property="cmraD" jdbcType="DECIMAL" />
    <result column="CETOP_D" property="cetopD" jdbcType="DECIMAL" />
    <result column="ETOP_D" property="etopD" jdbcType="DECIMAL" />
    <result column="EGRSF_D" property="egrsfD" jdbcType="DECIMAL" />
    <result column="EGRO_D" property="egroD" jdbcType="DECIMAL" />
    <result column="SGRO_D" property="sgroD" jdbcType="DECIMAL" />
    <result column="DTOA_D" property="dtoaD" jdbcType="DECIMAL" />
    <result column="EXRET_D" property="exretD" jdbcType="DECIMAL" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT  * from rpt_sto_sty_factors_deal_info;
  </select>

  <insert id="insert" parameterType="com.pbs.ams.web.model.RptStoStyFactorsDealInfo" >
    insert into rpt_sto_sty_factors_deal_info (DATA_DT, WIND_CODE, WIND_CODE_NAME, 
      LNCAP_D, NLSIZE_D, BTOP_D, 
      STOM_D, STOQ_D, STOA_D, 
      BETA_D, RSTR_D, DASTD_D, 
      HSIGMA_D, CMRA_D, CETOP_D, 
      ETOP_D, EGRSF_D, EGRO_D, 
      SGRO_D, DTOA_D, EXRET_D
      )
    values (#{dataDt,jdbcType=DATE}, #{windCode,jdbcType=VARCHAR}, #{windCodeName,jdbcType=VARCHAR}, 
      #{lncapD,jdbcType=DECIMAL}, #{nlsizeD,jdbcType=DECIMAL}, #{btopD,jdbcType=DECIMAL}, 
      #{stomD,jdbcType=DECIMAL}, #{stoqD,jdbcType=DECIMAL}, #{stoaD,jdbcType=DECIMAL}, 
      #{betaD,jdbcType=DECIMAL}, #{rstrD,jdbcType=DECIMAL}, #{dastdD,jdbcType=DECIMAL}, 
      #{hsigmaD,jdbcType=DECIMAL}, #{cmraD,jdbcType=DECIMAL}, #{cetopD,jdbcType=DECIMAL}, 
      #{etopD,jdbcType=DECIMAL}, #{egrsfD,jdbcType=DECIMAL}, #{egroD,jdbcType=DECIMAL}, 
      #{sgroD,jdbcType=DECIMAL}, #{dtoaD,jdbcType=DECIMAL}, #{exretD,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pbs.ams.web.model.RptStoStyFactorsDealInfo" >
    insert into rpt_sto_sty_factors_deal_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dataDt != null" >
        DATA_DT,
      </if>
      <if test="windCode != null" >
        WIND_CODE,
      </if>
      <if test="windCodeName != null" >
        WIND_CODE_NAME,
      </if>
      <if test="lncapD != null" >
        LNCAP_D,
      </if>
      <if test="nlsizeD != null" >
        NLSIZE_D,
      </if>
      <if test="btopD != null" >
        BTOP_D,
      </if>
      <if test="stomD != null" >
        STOM_D,
      </if>
      <if test="stoqD != null" >
        STOQ_D,
      </if>
      <if test="stoaD != null" >
        STOA_D,
      </if>
      <if test="betaD != null" >
        BETA_D,
      </if>
      <if test="rstrD != null" >
        RSTR_D,
      </if>
      <if test="dastdD != null" >
        DASTD_D,
      </if>
      <if test="hsigmaD != null" >
        HSIGMA_D,
      </if>
      <if test="cmraD != null" >
        CMRA_D,
      </if>
      <if test="cetopD != null" >
        CETOP_D,
      </if>
      <if test="etopD != null" >
        ETOP_D,
      </if>
      <if test="egrsfD != null" >
        EGRSF_D,
      </if>
      <if test="egroD != null" >
        EGRO_D,
      </if>
      <if test="sgroD != null" >
        SGRO_D,
      </if>
      <if test="dtoaD != null" >
        DTOA_D,
      </if>
      <if test="exretD != null" >
        EXRET_D,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dataDt != null" >
        #{dataDt,jdbcType=DATE},
      </if>
      <if test="windCode != null" >
        #{windCode,jdbcType=VARCHAR},
      </if>
      <if test="windCodeName != null" >
        #{windCodeName,jdbcType=VARCHAR},
      </if>
      <if test="lncapD != null" >
        #{lncapD,jdbcType=DECIMAL},
      </if>
      <if test="nlsizeD != null" >
        #{nlsizeD,jdbcType=DECIMAL},
      </if>
      <if test="btopD != null" >
        #{btopD,jdbcType=DECIMAL},
      </if>
      <if test="stomD != null" >
        #{stomD,jdbcType=DECIMAL},
      </if>
      <if test="stoqD != null" >
        #{stoqD,jdbcType=DECIMAL},
      </if>
      <if test="stoaD != null" >
        #{stoaD,jdbcType=DECIMAL},
      </if>
      <if test="betaD != null" >
        #{betaD,jdbcType=DECIMAL},
      </if>
      <if test="rstrD != null" >
        #{rstrD,jdbcType=DECIMAL},
      </if>
      <if test="dastdD != null" >
        #{dastdD,jdbcType=DECIMAL},
      </if>
      <if test="hsigmaD != null" >
        #{hsigmaD,jdbcType=DECIMAL},
      </if>
      <if test="cmraD != null" >
        #{cmraD,jdbcType=DECIMAL},
      </if>
      <if test="cetopD != null" >
        #{cetopD,jdbcType=DECIMAL},
      </if>
      <if test="etopD != null" >
        #{etopD,jdbcType=DECIMAL},
      </if>
      <if test="egrsfD != null" >
        #{egrsfD,jdbcType=DECIMAL},
      </if>
      <if test="egroD != null" >
        #{egroD,jdbcType=DECIMAL},
      </if>
      <if test="sgroD != null" >
        #{sgroD,jdbcType=DECIMAL},
      </if>
      <if test="dtoaD != null" >
        #{dtoaD,jdbcType=DECIMAL},
      </if>
      <if test="exretD != null" >
        #{exretD,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>