<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-4.2.xsd">

    <!--
    <context:component-scan>
    有一个use-default-filters属性，改属性默认为true,
    这就意味着会扫描指定包下的全部的标有@Component的类，
    并注册成bean.也就是@Component的子注解@Service,@Reposity等
    -->
    <context:component-scan use-default-filters="true" base-package="com.pbs.ams"/>

    <!--开启注解模式   使用方式自行百度.-->
    <cache:annotation-driven cache-manager="cacheManager"/>


    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheCacheManager" p:cacheManager-ref="cacheManagerFactory"/>

    <bean id="cacheManagerFactory"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" p:configLocation="ehcache.xml"/>
</beans>